<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>

    <style>
        body{
            background-color: #8BC6EC;
            background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
        }
        form{
            border: 2px solid black;
            padding: 20px;
            border-radius: 15px;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 350px;
            transform: translate(-50%,-50%);
        }
        .form-control{
            /* border: 2px solid black; */
        }
        .form-control:focus {
            border: 2px solid black;
            box-shadow: none;
        }
        .btn{
            border: 2px solid black;
            width: 100%;
            background-color: rgb(51, 49, 49);
            color: white;
            font-weight: 500;
            transform: 300ms;
        }
        .btn:hover{
            background-color: white;
            color: rgb(51, 49, 49);
        }
    </style>
</head>
<body>
    <form class="formClass" action="/login" method="POST">
        <div class="mb-3">
            <label for="userName" class="form-label">Username</label>
            <input type="text" name="username" class="form-control"  aria-describedby="emailHelp">
          </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <p>Don't have an acoount?<a class="text-danger" href="/signup">Signup</a></p>
      </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>